.page{
    position: relative;
    width: 100%;
    height: 100%;
}
.gridbox{
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 3rem 0 3rem 0;
    box-sizing: border-box;
    /* grid-column-gap: 1rem;
    grid-row-gap: 1rem; */
    gap: 2rem;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.img{
    position: relative;
    /* width: 100%;
    height: auto; */
}

/* 슬러그페이지 */
.slugpage{
    position: relative;
    width: 100%;
    height: 100%;
}
.slugbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin: 0 auto;
    padding: 3rem 0;
}
.slugtitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.slugtitlesmall{
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.slugimgbox{
    width: 50rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem 1rem 1rem;
    box-sizing: border-box;
}
.vrbtn{
    width: fit-content;
    height: fit-content;
    padding: 3rem 0;
}
.vrbtn p{
    font-size: 1.3rem;
    background-color: #2E2D2B;
    color: #B3B3B3;
}
.vrbtn p:hover{
    background-color: #C5FF00;
}
/* .slugimg{
    width: 70%;
    height: auto;
} */
.slugdes{
    font-size: 1.3rem;
}

/****** 미디어쿼리 portrait ******/
@media screen and (max-width: 820px) and (orientation:portrait){
    .imgbox{
        height: 18rem;
    }
    .slugbox{
        width: unset;
    }
    .slugimgbox{
        width: 98%;
    }
    .slugdes{
        width: 90%;
    }
}

@media screen and (min-width:713px) and (max-width:767px) and (orientation:portrait){
    .gridbox{
        width: 98%;
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem 0;
        height: 70rem;
        gap: 2rem 0;
    }
    .imgbox{
        height: 100%;
    }
    .slugtitle{
        font-size: 1.7rem;
    }
    .slugtitlesmall{
        font-size: 1.2rem;
    }
    .slugbox{
        width: 90%;
        padding: 1.5rem 0;
    }
    .slugimgbox{
        width: 100%;
        padding: 1rem 0;
    }
    .slugimg{
        width: 100%;
    }
    .slugdes{
        width: 100%;
    }
    .vrbtn{
        padding: 1rem 0 2rem 0;
    }
    .vrbtn p{
        font-size: 1.1rem;
    }
    .slugdes{
        font-size: 1rem;
    }
}
@media screen and (max-width:710px) and (orientation:portrait){
    .gridbox{
        width: 98%;
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem 0;
        height: 70rem;
        gap: 2rem 0;
    }
    .imgbox{
        height: 100%;
    }
    .slugtitle{
        font-size: 1.7rem;
    }
    .slugtitlesmall{
        font-size: 1.2rem;
    }
    .slugbox{
        width: 90%;
        padding: 1.5rem 0;
    }
    .slugimgbox{
        width: 100%;
        padding: 1rem 0;
    }
    .slugimg{
        width: 100%;
    }
    .slugdes{
        width: 100%;
    }
    .vrbtn{
        padding: 1rem 0 2rem 0;
    }
    .vrbtn p{
        font-size: 1.1rem;
    }
    .slugdes{
        font-size: 1rem;
    }
} 
@media screen and (max-width:375px) and (orientation:portrait){
    .gridbox{
        height: 60rem;
    }
}